<%-include("partials/header.ejs")%>
<% if(locals.book) { %>
    <p><%= book.title %></p>
    <img src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-M.jpg"/>
<% } %>
<%-include('partials/footer.ejs')%>