
@import url("../styles/navigation.css");
@import url("../styles/slider.css");
@import url("../styles/books.css");
@import url("../styles/sorting.css");
@import url("../styles/bookDetail.css");
@import url("../styles/form.css");
@import url("../styles/modals.css");
@import url("../styles/favourites.css");
@import url("../styles/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "sans-serif";
  background-color: #f8f8f8;
  color: #333;
  /* background-color: #FF7F32;; */
}









