@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Newsreader:opsz,wght@6..72,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "sans-serif";
  background-color: #f8f8f8;
  color: #333;
  /* background-color: #FF7F32;; */
}
/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ccc;
}

.search-input {
  padding: 0.5rem 5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
}

.search-icon {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  background-color: #d85c00;
  cursor: pointer;
}
.signIn-link {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  /* background-color: #D85C00 */
}

/* Header Section */

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 1rem 1.5rem;
  list-style: none;
}

.header-section a {
  text-decoration: none;
  color: inherit;
}

.header-section a .active {
  color: #d85c00;
  font-weight: 700;
}

.active {
  color: #d85c00 !important;
  font-weight: 700;
}

/* Slider */

.slider-container {
  width: 100%;
  margin: 2.5rem auto;
  position: relative;
  overflow: hidden;
  /* height: auto; */
  background-color: #f8f8f8;
  z-index: 1;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider-item {
  min-width: 100%;
  align-items: center;
  display: flex;
  gap: 5rem;
  padding: 0 10rem;
}

.item-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 0.5rem;
}
.slider-item img {
  border-radius: 10px;
  width: 11rem;
  position: relative;
}
.slider-item p {
  line-height: 1.5rem;
  text-align: justify;
}
.slider-item .book-link {
  text-decoration: none;
  padding: 10px;

  cursor: pointer;
  /* margin-top: 10px; */
  background-color: #d85c00;
  text-align: center;
  font-weight: 700;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  width: 9rem;
}

.slider-item button:hover {
  /* background-color: #0056b3; */
}
/* Navigation buttons */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.9rem;
  font-size: 1.5em;
  background-color: #333;
  color: #f8f8f8;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Books Display Section */

.select-dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  gap: 0.2rem;
}
select {
  appearance: none;
  background: url("../assets/images/arrow-down.svg") no-repeat right 10px center;
  background-size: 12px;
  padding-right: 30px;
  width: 200px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
}

.books-wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
}

.books-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding-right: 1.5rem;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1.5rem;
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.15rem;
}

.image-container img {
  width: 9rem;
  height: 13rem;
}

.book-description {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.9rem;
}
.book-title {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 0.4rem;
}

/* Sorting Section */

.sort-books-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f8f8f8;
  padding: 0 1.5rem;
}

.aside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-arrow-down,
.aside-arrow-up {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}
.aside-arrow-down:hover,
.aside-arrow-up:hover {
  color: #ccc;
}
.aside-arrow-down:active,
.aside-arrow-up:active {
  transform: scale(1.2);
}
.hidden {
  display: none;
}
.collection-heading,
.genre-heading {
  color: #d85c00;
  border-bottom: 1.5px solid #d3d3d3;
  width: 80%;
}

.collection-options li {
  list-style: none;
  padding: 0.8rem 0;
}

.genre-options li {
  list-style: none;
  padding: 0.4rem 0;
}

/* Book Details Page */

.book-details {
  display: flex;
  justify-content: space-around;

  padding: 3rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details-img {
  width: 20rem;
  height: 30rem;
}

.details-description {
  line-height: 1.7rem;
  width: 45rem;
  text-align: justify;
}
.details-title {
  color: #d85c00;
}
.author-details {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.author-name{
  font-weight: 700;
}

.details-rating {
 display: flex;
 gap: 0.5rem;
}

/* Rating (stars) */

.star-rating {
  color: lightgray;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating-number {
  color: #bababa;
  font-size: 1rem;
}

.star {
  cursor: pointer;
  font-size: 0.95rem;

  color: #d3d3d3; /* Light grey color for unfilled stars */
}

.star.filled {
  color: #b08d57; /* Yellow color for filled stars */
}
.half-filled {
  background: linear-gradient(
    to right,
    #b08d57 50%,
    #d3d3d3 50%
  ); /* 50% gold and 50% gray */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  color: transparent; /* Make the text color transparent to show the gradient */
  display: inline-block;
}

footer {
  text-align: center;
  position: relative;
  top: 3rem;
  font-size: 0.9rem;
  padding: 2rem 0;
}

/* form {
  margin-top: 20px;
}

input[type="number"] {
  width: 50px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
 */
